data/test
data/train
output/llama_conll03*_noise
data
output
origin_data
Get_data
con_gen.ipynb
utils/dataset_BIO.py
utils/Drop_ATT_gemma.py
single_chat.py
component/AT_model.py
component/llama_model.py
component/dataset.py
logs
outputs
train_args/qlora-old
scripts/run_Qwen.sh
scripts/run.sh
scripts/run_Qwen.sh
scripts/run_llama3.sh
scripts/run_gemma.sh
requirements.txt